@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {
    --background: 221 100% 95%;
    --foreground: 221 5% 10%;
    --card: 221 50% 94%;
    --card-foreground: 221 5% 15%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 10%;
    --primary: 221 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183 30% 94%;
    --muted-foreground: 221 5% 40%;
    --accent: 183 30% 90%;
    --accent-foreground: 221 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 221 5% 94%;
    --border: 221 30% 82%;
    --input: 221 30% 50%;
    --ring: 221 83.2% 53.3%;
    --radius: 0.5rem;
   }

  .dark {
    --background: 213 50% 5%;
    --foreground: 213 5% 90%;
    --card: 213 50% 0%;
    --card-foreground: 213 5% 90%;
    --popover: 213 50% 5%;
    --popover-foreground: 213 5% 90%;
    --primary: 213 93.9% 67.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 175 30% 15%;
    --muted-foreground: 213 5% 60%;
    --accent: 175 30% 15%;
    --accent-foreground: 213 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 213 5% 90%;
    --border: 213 30% 18%;
    --input: 213 30% 18%;
    --ring: 213 93.9% 67.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}